<!--
  Author:    Daniel Detwiller
  Partner:   None
  Date:      12-10-2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Daniel Detwiller - This work may not be copied for use in Academic Coursework.

  I, Daniel Detwiller, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents:

     This is the enrollment data page that display the course enrollments on a highchart chart.
-->
<!-- Back to the list page button -->

@using Microsoft.AspNetCore.Identity
@using TAApplicationPS4.Areas.Identity.Data
@model TAApplicationPS4.Models.EnrollmentOverTime

@inject UserManager<TAUser> um

@{
    
}

@section Scripts
{

    <!-- Highcharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.2/highcharts.js"
            integrity="sha512-dm3Cn0X6XyRMz52WqL1wag+e2WCNAnggh2+4mv/9Ngd+IhBIH9NEQYUZ4g3A6GJUbhKrGw5hErqcFIyk73lUgA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.3.2/css/highcharts.min.css" rel=”stylesheet” />

    <!-- JavaScript file -->
    <script src="~/js/admin/chart.js"></script>

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
}

<h1 class="text-center mt-4 mb-5">Enrollment Trends</h1>


<div class="row">
    <div class="col">
        <label for="inputCourse">Course</label>
        <select id="inputCourse" name="inputCourse" class="form-control">
            <option selected>CS 1400</option>
            <option>CS 1410</option>
            <option>CS 1420</option>
            <option>CS 2100</option>
            <option>CS 2420</option>
            <option>CS 3100</option>
            <option>CS 3200</option>
            <option>CS 3500</option>
            <option>CS 4150</option>
            <option>CS 4400</option>
            <option>CS 4480</option>
            <option>CS 4500</option>
            <option>CS 4530</option>
        </select>
    </div>
    <div class="col">
        <label class="control-label" for="startDate">Enrollment Start Date</label>
        <input class="form-control" type="date" value="2021-11-07" data-val="true" data-val-required="The enrollment start date field is required." id="startDate" name="startDate" value="">
    </div>
    <div class="col">
        <label class="control-label" for="endDate">Enrollment End Date</label>
        <input class="form-control" type="date" value="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" data-val="true" data-val-required="The enrollment end date field is required." id="endDate" name="endDate" value="">
    </div>
    <div class="col">
        <br />
        <button class="btn btn-primary" onclick="getEnrollmentData(document.getElementById('startDate').value, document.getElementById('endDate').value, document.getElementById('inputCourse').value)">Get Data</button>
        <!-- The spinner -->
        <button id="spinner" class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        </button>
    </div>
</div>

<br />

<figure class="highcharts-figure">
    <div id="chart"></div>
</figure>