@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<TAApplicationPS4.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<!--
  Author:    Daniel Detwiller
  Partner:   None
  Date:      09-29-2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Daniel Detwiller - This work may not be copied for use in Academic Coursework.

  I, Daniel Detwiller, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents:

     This page shows a summary of information about the applicants base.
        - Total number of applicants
        - Average GPA
-->

<h1>Applicants Info</h1>

<hr />


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Number of Applicants:</h5>
                <h1 class="card-text">@ViewBag.totalApplicants</h1>


                <h5 class="card-title">Average GPA of Applicants:</h5>
                <h1 class="card-text">@ViewBag.avgGPA</h1>

                <br />

                <a class="btn btn-primary" asp-area="" asp-controller="Applications" asp-action="List">Click to see all applicants!</a>
            </div>
        </div>
    </div>
  </div>

